/*
Tema: Conpec Hotsite
Autor: Gabriel Tomonari "Takeshi"
Data: 26/03/2020

"It always seems impossible until it's done" - Mandela
*/

/*CSS Reset --------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*General ----------------------------------------*/

html, body {
    font: 15px/1.5 "Trebuchet MS";
    height: 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Header -------------------------------------------*/

header {
    background-color: black;
    color: white;
}

.header-content {
    width: 950px;
    margin: 0 auto;
}

header h1 {
    font-size: 2em;
    font-style: italic;
    font-family: "Franklin Gothic Medium";
    margin: 0;
    padding: 30px 0 0;
    line-height: 1em;
}

header h3 {
    font-size: 1.5em;
    font-weight: 100;
    font-family: "Century Gothic";
    margin: 0 0 30px;
    padding: 0;
}

header a {
    text-decoration: none;
    color: white;
}

/*Sections ----------------------------------------*/

.section-text {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 15px;
    vertical-align: top;
}

.wrapper {
    width: 950px;
    height: 430px;
    margin: 30px auto 0;
    padding: 0;
}

/*Sobre mim ----------------------------------------*/

.profile-thumbnail {
    width: 40%;
    height: 100%;
    display: inline-block;
    background: url(assets/img/foto-perfil.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.greetings {
    width: 3em;
    display: inline-block;
    background-color: #e0172d;
    padding: 10px;
    margin: 10px 10px 10px 0;
    color: white;
    font-size: 1em;
    line-height: 0.5;
    text-align: center;
}

.name {
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #e0172d;
}

.name span {
    font-weight: 100;
    color: black;
}

.attribute {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.button {
    background-color: #e0172d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s;
}

.button:hover {
    background-color: #f75162;
}

.wrapper ul {
    margin: 150px 0 0 0;
}

.social-media {
    display: inline;
    margin: 0 5px;
}

.social-media a {
    text-decoration: none;
}

.social-media svg {
    width: 2em;
    height: 2em;
    transition: ease-in-out 0.3s;
    fill: gray;
}

.social-media svg:hover {
    fill: #b31414;
}

/*Desenho favorito -------------------------------------------*/

.section-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin: 50px 0 30px 0;
}

.content {
    width: 950px;
    height: 430px;
    margin: 0 auto;
}

.section-thumbnail {
    width: 27%;
    height: 75%;
    vertical-align: middle;
    display: inline-block;
    background: url(assets/img/desenho.jpg);
    background-size: cover;
    margin: 0 0 0 40px;
    padding: 0px;
}

.animation-text {
    width: 60%;
}

.animation-title {
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/*Bio ----------------------------------------------------------*/

#bio .wrapper {
    height: auto;
}

#bio span {
    font-weight: bold;
    color: #e0172d;
}

.other-title {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.8em;
    color: #e0172d;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald';
}

.title {
    margin: 40px auto;
    text-align: center;
}

.title-icon {
    width: 50px;
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.cards {
    width: 950px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px auto 0;
}

.card {
    padding: 20px;
    text-align: justify;
}

.card-title {
    font-size: 1.2em;
    color: #e0172d;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald';
}

.card-list {
    list-style-type: square;
    margin: 5px 0 10px 20px;
}

/*Experiência --------------------------------------------------------*/

.jobs {
    width: 820px;
    margin: 0 auto;
}

.job-list span {
    font-weight: bold;
}

.job-list li {
    margin: 10px auto;
}

.job-list ul {
    list-style-type: circle;
    margin: 0 0 0 20px;
}

.custom-title1 {
    margin: 0 auto 10px;
}

/* Responsive Media Queries --------------------------------------------*/

/*Tablets ---------------------------------*/

@media only screen and (max-width: 900px) {
    /*General Structure ----------------------------*/
    .wrapper, .content {
        width: 100%;
    }
    .profile-thumbnail, .section-thumbnail {
        background-position: center;
    }
    .section-thumbnail {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .cards, .jobs {
        width: 100%;
    }
    section {
        padding: 0 40px;
    }
}

/*Mobile ---------------------------------*/

@media only screen and (max-width: 450px) {
    /*General Structure ----------------------------*/

    /*Header ----------------------------------------*/
    header .container{
        width: 100%;
    }
    .header-content{
        width: auto;
        padding: 20px 10px;
        text-align: center;
    }
    header h1{
        margin: 0;
        padding: 0;
    }
    header h3{
        margin: 0;
        padding: 0;
        font-size: 1em;
    }
    
    /*Home Page ------------------------------------*/
    .wrapper, .content {
        height: auto;
    }
    .profile-thumbnail {
        height: 220px;
        background-position: 0 0;
    }
    .section-thumbnail{
        height: 220px;
    }
    .profile-thumbnail, .section-text, .section-thumbnail {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .wrapper ul {
        margin: 50px 0 0 0;
    }
    .animation-text{
        margin: 20px 0;
    }
    
    
    /*About Page -----------------------------------*/
    .cards{
        display: block;
    }
    .custom-title1 {
        margin: 40px auto;
    }
}